@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.App {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  /* overflow-y: auto; */
  /* vertical-align: middle; */
}

.App h4 {
  font-family: "Bree Serif", serif;
  background-color: transparent;
}

.custom-card {
  width: 50%;
  display: flex;
  padding: 8px;
  align-items: center;
  justify-content: center;
}

.card {
  /* box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.15); */
  box-shadow: 0 6px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 12px;
  margin: 12px;
}

.card-content {
  padding: 18px 8px;
  width: 100%;
  height: 100%;
  border: 3px solid rgba(0, 0, 0, 0.5);
  outline: none;
  color: white;
  background-color: rgb(1, 7, 16);
}

.card-text {
  margin-bottom: 0;
  background-color: black;
  margin-top: 8px;
}

.text-muted {
  margin: 4px 0;
  padding: 2px;
}

.footer-text {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.footer-text:hover {
  color: rgba(255, 5, 5, 1) !important;
}

.btn {
  margin: 8px;
  padding: 8px;
  font-size: 14px;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  font-weight: 600;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 6px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.btn:hover,
.share-button:hover {
  color: rgba(0, 0, 0, 0.8) !important;
  border: 1px solid rgba(0, 0, 0, 0.35);
}

.share-button {
  background-color: #fff;
  border-radius: 4px;
  padding: 2px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 34px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: #6c757d;
  font-weight: 600;
  border-radius: 0.25rem;
  font-weight: 600;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  position: relative;
  box-shadow: 0 6px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.share-button-text {
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: -36px;
  display: none;
  transition: all 0.2s ease-in-out;
}

.share-button:hover .share-button-text {
  display: block;
}

.button-div {
  height: 40px;
  margin-top: 16px;
}

.created-text {
  font-size: 13px;
  border-top: 1px solid #36353521;
  color: rgba(0, 0, 0, 0.7);
  padding: 4px;
}

@media (max-width: 870px) {
  .custom-card {
    width: 65%;
  }
}

@media (max-width: 650px) {
  .custom-card {
    width: 75%;
  }
}
@media (max-width: 430px) {
  .custom-card {
    width: 95%;
  }
}
